<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>About Me</h1>
    <p>Hello, everyone, my name is Juan Barrera, and I am originally from Bucaramanga, Colombia. I’m currently double majoring in Applied Computer Science and Business Management at Point Park University.</p>
    <p>My educational goal is to deepen my knowledge of technology and how it intersects with business, so I can someday run a successful company that makes a positive impact on society.</p>
    <p>On a personal level, I’m passionate about learning, staying active, and challenging myself to grow. Outside of academics, I’m part of the university's Track and Field team and work as a Resident Educator and tutor.</p>
    <p>I occasionally help Culinart Services on campus too, which I find really enjoyable. I'm always open to new opinions and opportunities, I believe that learning goes far beyond from what's already written. </p>
    <p>One day I want to be part of a team of brilliant people and do something good for the world, can't wait.</p>
    <img src="/static/juan.jpg" alt="About me" width="500">
    <br>
    <a href="/">Back to Home</a>
</body>
</html>