<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Hobby Page</title>
    <link rel="stylesheet" href="static/styleh.css">
</head>
<body>
    <div class="container">
        <h1>My hobbies?</h1>
        <p>I have a lot of hobbies, like reading, drawing, watching movies, hiking and playing the piano</p>
        <p> I don't have pictures of me doing any of those so here I will share with you some valuable photos I have, from some unique moments</p>
        
        <div class="gallery">
            <div class="photo">
                <img src="static/papitos.jpg" alt="Photo 1">
                <textarea placeholder="My parents, I owe them everyhting I am, thanks to them I can follow my dreams and I am very proud of them for working so hard for our family"></textarea>
            </div>
            
            <div class="photo">
                <img src="static/paito.jpg" alt="Photo 2">
                <textarea placeholder="My brother, I love him and I miss him a lot, he's doing great in track now so I'm very happy for him, hopefully we will run together this summer"></textarea>
            </div>
            
            <div class="photo">
                <img src="static/perritas.jpg" alt="Photo 3">
                <textarea placeholder="My dogs, I miss them so much, this was my last day in Colombia before coming to america for college. Sacha, Paca and Cuqui"></textarea>
            </div>
            
            <div class="photo">
                <img src="static/panas.jpg" alt="Photo 4">
                <textarea placeholder="My best friends from college, they're the best people and they've supported me in difficult times, this was our first time going out all together, Jakobiño, Chumu and mor"></textarea>
            </div>
            
            <div class="photo">
                <img src="static/ristorante.jpg" alt="Photo 5">
                <textarea placeholder="Legendary Picture, here we are in Rome, having dinner with one of my best friends from High School, Gucci, and One of my best friends from college Mor, what happened after was legendary"></textarea>
            </div>
            
            <div class="photo">
                <img src="static/Colombia.jpg" alt="Photo 6">
                <textarea placeholder="Here is when my friends from the US came to visit Colombia it was a very fun 2 week trip, a lot of memories and learning"></textarea>
            </div>
            
            <div class="photo">
                <img src="static/flags.jpg" alt="Photo 7">
                <textarea placeholder="These are some of my international friends from track, good athletes, great people"></textarea>
            </div>
            <div class="photo">
                <img src="static/anthony.jpg" alt="Photo 8">
                <textarea placeholder="Here is me with Anthony Zambrano, National Record Holder, South American Record Holder and silver olympic medalist in the 400m"></textarea>
            </div>
            
            <div class="photo">
                <img src="static/museo.jpg" alt="Photo 9">
                <textarea placeholder="Here I am in the American Museum of natural history, a great day to remember because I love the movie 'night at the museum' and here is where the movie takes place" ></textarea>
            </div>
        </div>
    </div>
</body>
</html>
